[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
	env,
	venv,
	doc/_build
docstring-convention = numpy
max-line-length = 90
max_complexity = 17
max_function_length = 100
per-file-ignores =
	**/__init__.py: D104
	./tests/*: D100, D103
# for compatibility with black
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
extend-ignore = E203
